<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- PAGINACION -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <!-- PAGINA 1 -->
    <div class="carousel-item active">
      <div class="container">
        <h1>DIRECTO A</h1>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Estudiar</h5>
                <a href="#">Escolarización 2023/2024</a>
                <a href="#">PASEN</a>
                <a href="#">Becas de la Junta de Andalucía</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Trabajar</h5>
                <a href="#">Renovar demanda de empleo</a>
                <a href="#">Ofertas de empleo</a>
                <a href="#">Oposiciones secundaria, régimen especial y FP</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tu salud</h5>
                <a href="#">Cita en centros sanitarios</a>
                <a href="#">Salud Responde</a>
                <a href="#">Solicita o renueva la tarjeta sanitaria</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vivienda y consumo</h5>
                <a href="#">Ayudas al alquiler de vivienda</a>
                <a href="#">Ayudas Plan EcoCicienda</a>
                <a href="#">Hojas de quejas y reclamaciones</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGINA 2 -->
    <div class="carousel-item">
      <div class="container">
        <h1>DIRECTO A</h1>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Estudiar</h5>
                <a href="#">Escolarización 2023/2024</a>
                <a href="#">PASEN</a>
                <a href="#">Becas de la Junta de Andalucía</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vivienda y consumo</h5>
                <a href="#">Ayudas al alquiler de vivienda</a>
                <a href="#">Ayudas Plan EcoCicienda</a>
                <a href="#">Hojas de quejas y reclamaciones</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Estudiar</h5>
                <a href="#">Escolarización 2023/2024</a>
                <a href="#">PASEN</a>
                <a href="#">Becas de la Junta de Andalucía</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vivienda y consumo</h5>
                <a href="#">Ayudas al alquiler de vivienda</a>
                <a href="#">Ayudas Plan EcoCicienda</a>
                <a href="#">Hojas de quejas y reclamaciones</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BOTONES PARA CAROUSEL -->
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
